.b-clients {
  background-color: var(--secondary-dark-2);
  padding-block: rem(88px);
  text-align: center;

  &__list {
    @include flex-column-gap(81px);
    align-items: center;
  }

  &__title {
    margin-bottom: rem(64px);
  }

  &__client picture, img {
    width: 100%;
  }

  &__client:nth-child(1) {
    width: rem(146.56px);
  }

  &__client:nth-child(2) {
    width: rem(162.21px);
  }

  &__client:nth-child(3) {
    width: rem(162.21px);
  }

  &__client:nth-child(4) {
    width: rem(160px);
  }

   &__client:nth-child(5) {
    width: rem(90px);
  }

}

@include tablet-up {
  .b-clients {
    padding-inline: rem(100px);
    background-image: url('/src/images/bg-pattern-about-4.svg');
    background-repeat: no-repeat;
    background-position: left top rem(-100px);

    &__title {
      margin-bottom: rem(48px);
    }
    &__list {
      flex-direction: row;
      align-items: center;
      justify-content: center;
      column-gap: rem(48px );
    }
  }
}

@include desktop-large {
  .b-clients {
    padding-top: rem(140px);
    padding-bottom: rem(151px);
  }
}