.b-contact {
  background-color: var(--primary);
  padding-top: rem(80px);
  padding-bottom: rem(88px);
  text-align: center;
  background-image: url('/src/images/bg-pattern-contact-2.svg');
  background-repeat: no-repeat;
  background-position: bottom rem(-110px) right rem(-100px);

  &__subtitle {
    color: var(--primary-light);
    margin-bottom: rem(40px);
  }

  &__cards {
    padding-bottom: rem(56px);
  }
}

@include tablet-up {
  .b-contact {
    padding-block: rem(112px);
    padding-inline: rem(126.5px);
    background-position: bottom 0 right rem(-100px);
  }
}

@include desktop-large {
  .b-contact {
    display: grid;
    column-gap: rem(30px);
    justify-items: center;
    grid-template-areas: 
      "titulo form"
      "subtitulo form"
      "card form"
    ;

    &__title {
      grid-area: titulo;
      justify-self: start;
    }

    &__subtitle {
      grid-area: subtitulo;
      justify-self: start;
    }

    &__cards {
      grid-area: card;
      justify-self: start;
    }

    .c-form {
      width: rem(540px);
      grid-area: form;
    }
  }
}