.b-employees {
  background-color: var(--secondary-dark);
  padding-top: rem(88px);
  padding-bottom: rem(116px);
  text-align: center;
  background-image: url('/src/images/bg-pattern-about-2-contact-1.svg');
  background-position: top -100px left -100px;
  background-repeat: no-repeat;
  position: relative;

  &::before {
    @include bg-retangle-detail;
    bottom: 0;
    right: 0;
    z-index: 2;
  }

  &::after {
    @include squares(rem(100px));
    display: block;
    content: "";
    background-color: var(--secondary-dark-3);
    position: absolute;
    bottom: 0;
    right: rem(47px);
    z-index: 1;
  }

  &__title {
    margin-bottom: rem(48px);
  }

  &__cards {
    @include flex-column-gap(rem(52px));
  }

  
}

@include tablet-up {
  .b-employees {
    background-position: top 0 left rem(-100px);
    padding-top: rem(100px);
    padding-bottom: rem(128px);

    &__cards {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      column-gap: rem(11px);
    }
  }
}