.b-hero {
  background-color: var(--primary);
  min-height: calc(rem(567px) - rem(80px));
  padding-top: rem(80px);
  text-align: center;
  background-image: url('/src/images/bg-hero.svg');
  background-repeat: no-repeat;
  background-position: bottom center;
  position: relative;

  &::before {
    @include bg-retangle-detail;
    left: rem(9px);
    bottom: rem(56px);
  }
}