.b-hero {
  background-color: var(--primary);
  min-height: calc(rem(567px) - rem(80px));
  padding-top: rem(80px);
  text-align: center;
  background-image: url('/src/images/bg-hero.svg');
  background-repeat: no-repeat;
  background-position: bottom center;
  position: relative;
}

@include tablet-up {
  .b-hero {
    min-height: calc(rem(700px) - rem(112px));
    padding-top: rem(112px);

    &::before {
      left: rem(206px);
    }

    &__body {
      padding-inline: rem(114px);
    }
  }
}

@include desktop-large {
  .b-hero {
    background-position: bottom right rem(165px);
    &__body {
      display: flex;
      justify-content: space-between;
      gap: rem(30px);
      text-align: left;
    }

    &__title {
      flex-basis: 57.2%;
      max-width: rem(635px);
    }

    &__text {
      position: relative;
      max-width: rem(445px);
      padding-top: rem(83px);

      &::before {
        background-color: var(--secondary-light);
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: rem(50px);
        height: rem(4px);
      }
    }
  }
}