.b-team {
  background-color: var(--secondary-dark-2);
  padding-block: rem(64px);
  background-image: url('/src/images/bg-pattern-home-3.svg');
  background-repeat: no-repeat;
  background-size: rem(200px);
  background-position: top right rem(-100px);

  &__title {
    @include line(--primary-light);
    max-width: rem(240px );
    padding: rem(32px) 0 rem(56px) 0;
    position: relative;
  }

  &__cards {
    @include flex-column-gap(rem(48px));
  }
} 

@include tablet-up {
  .b-team {
    padding-block: rem(100px);
    padding-inline: rem(98px);

    &__title {
      max-width: rem(445px);
      padding-bottom: rem(64px);
    }

    &__cards {
      gap: rem(32px);
    }
  }
}

@include desktop-large {
  .b-team {
    display: flex;
    justify-content: space-between;
    padding-inline: rem(165px);
    background-position: bottom right rem(-100px);
    

    &__header {
      max-width: rem(445px);
      width: 100%;
    }

    &__body {
      max-width: rem(540px);
      width: 100%;
    }
  }
}