.b-team {
  background-color: var(--secondary-dark-2);
  padding-block: rem(64px);
  background-image: url('/src/images/bg-pattern-home-3.svg');
  background-repeat: no-repeat;
  background-size: rem(200px);
  background-position: top right -100px;

  &__title {
    max-width: rem(240px );
    padding: rem(32px) 0 rem(56px) 0;
    position: relative;

    &::before {
      background-color: var(--primary-light);
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: rem(50px);
      height: rem(4px);
    }
  }

  &__cards {
    display: flex;
    flex-direction: column;
    gap: rem(48px);
  }
} 