.c-btn {
  background-color: transparent;
  width: rem(153px);
  height: rem(48px);
  border-radius: rem(100px);
  border: solid 2px var(--secondary-dark-2);
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: rem(18px);
  line-height: rem(28px);
  color: var(--secondary-dark-2);
  text-decoration: none;
  font-weight: $semi-bold;
  cursor: pointer;

  &-primary-o {
    color: var(--white);
    border-color: var(--white);
    transition: all 2s;

    &:hover {
      background-color: var(--white);
      color: var(--secondary-dark-3);
    }
  }

  &-primary-o--dark {
    color: var(--secondary-dark-3);
    transition: all 2s;

    &:hover {
      background-color: var(--secondary-dark-2);
      color: var(--white);
    }
  }

  &-secondary {
    background-color: var(--white);
    color: var(--secondary-dark-3);
    border-color: var(--white);
    transition: all 2s;

    &:hover {
      background-color: var(--secondary-light);
      color: var(--secondary-dark-3);
      border-color: var(--secondary-light);
    }
  }

  &--hamburger {
    background-color: transparent;
    outline: none;
    border: none;
    width: rem(20px);
    height: rem(17px);
    display: flex;
    gap: rem(4px);
    flex-direction: column;
    position: fixed;
    z-index: 999;
    right: 24px;

    &__line {
      background-color: var(--white);
      height: rem(3px);
      display: block;
      width: 100%;
    }
  }

  &--add,
  &--close {
    @include squares(rem(56px));
    border-radius: 50%;
    border: none;
    text-align: center;
    font-size: rem(28px);
    font-weight: $extra-bold;
    color: var(--secondary-dark-2);
  }

  &--add {
    background-color: var(--primary-light);
  }

  &--close {
    background-color: var(--secondary-light);

    span {
      display: inline-block;
      transform: rotate(227deg);
    }
  }
}