/* TEAM CARD */
.c-team__card {
  text-align: center;
  
  &-image {
    display: block;
    @include squares(rem(72px));
    margin-inline: auto;
    margin-bottom: rem(16px);

    img {
      object-fit: contain;
      @include squares(100%);
    }
  }

  &-title {
    color: var(--primary-light);
  }
}

/* STORIES CARD*/
.c-stories__card {
  padding-top: rem(38px);
  position: relative;
  background-image: url('/src/images/icon-quotes.svg');
  background-repeat: no-repeat;
  background-position: top center;

  &-title {
    color: var(--secondary-light);
    margin-bottom: 0;
  }

  &-image {
    @include c-picture;
    @include squares(rem(62px))
  }

  &-text {
    margin-bottom: rem(16px);
  }
}

/* CARD EMPLOYEES*/
.c-employees__card {
  background-color: var(--secondary-dark-2);
  padding: rem(32px) rem(46.5px) rem(22px) rem(46.5px);
  &-image {
    @include squares(rem(96px));
    @include c-picture;
    margin-inline: auto;
    margin-bottom: rem(16px);
  }

  &-title {
    color: var(--secondary-light);
    margin-bottom: 0;
  }  
  
  .c-social-media {
    padding-block: 0;
    margin-top: rem(24px);
    
    &__item {
      @include squares(rem(20px));
    }
  }

  &-button {
    transform: translateY(50px);
  }
}