/* TEAM CARD */
.c-team__card {
  text-align: center;
  
  &-image {
    display: block;
    @include squares(rem(72px));
    margin-inline: auto;
    margin-bottom: rem(16px);

    img {
      object-fit: contain;
      @include squares(100%);
    }
  }

  &-title {
    color: var(--primary-light);
  }
}

/* STORIES CARD*/
.c-stories__card {
  padding-top: rem(38px);
  position: relative;
  background-image: url('/src/images/icon-quotes.svg');
  background-repeat: no-repeat;
  background-position: top center;

  &-title {
    color: var(--secondary-light);
    margin-bottom: 0;
  }

  &-image {
    @include c-picture;
    @include squares(rem(62px))
  }

  &-text {
    margin-bottom: rem(16px);
  }
}

/* CARD EMPLOYEES*/
.c-employees__card {
  background-color: var(--secondary-dark-2);
  padding: rem(32px) rem(46.5px) rem(22px) rem(46.5px);
  &-image {
    @include squares(rem(96px));
    @include c-picture;
    margin-inline: auto;
    margin-bottom: rem(16px);
  }

  &-title {
    color: var(--secondary-light);
    margin-bottom: 0;
  }  
  
  .c-social-media {
    padding-block: 0;
    margin-top: rem(24px);
    display: none;
    
    &__item {
      @include squares(rem(20px));
    }
  }

  &-text-2 {
    display: none;
  }

  &.active {
    .c-employees__card-text-2 {
      display: block;
    }

    .c-employees__card-image {
      display: none;
    }

    .c-employees__card-text {
      display: none;
    }

    .c-social-media {
      display: flex;
    }
  }

  &-button {
    transform: translateY(50px);
  }
}

/* CARD CONTACT ABOUT US*/
.c-contact__card {
  display: flex;
  text-align: left;
  gap: rem(23px);
  align-items: center;

  &:not(:last-child) {
    margin-bottom: rem(16px);
  }
}

@include tablet-up {
  .c-team__card {
    display: grid;
    grid-template-columns: auto 1fr;
    text-align: left;
    column-gap: rem(23px);

    &-image {
      grid-column: 1/2;
      grid-row: 1/3;
    }
  }

  .c-employees__card {
    @include squares(rem(281px));
    max-width: rem(281px);
    padding-inline: rem(23px);
  }
}

@include desktop-large {
  .c-team__card, 
  .c-stories__card {
    &-text {
      font-size: rem(15px);
    }
  }

  .c-stories__card {
    max-width: rem(350px);
  }
}