.c-footer {
  text-align: center;
  padding-block: rem(65px);
  background-color: var(--secondary-dark-3);

  .c-logo {
    width: rem(96px);
    height: rem(24px);
    margin-bottom: rem(24px);
  }

  &__menu {
    display: flex;
    justify-content: center;
    gap: rem(24px);
    margin-bottom: rem(24px);

    &-link {
      text-decoration: none;

      &:hover {
        color: var(--secondary-light);
      }
    }
  }

  &__address {
    padding-inline: rem(100px);
  }

  &__link {
    display: inline-block;
    text-decoration: none;
    opacity: .6;
  }

  &__copyright {
    opacity: .6;
  }
}

@include tablet-up {
  .c-footer {
    text-align: left;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas: 
      "logo address"
      "nav-menu tel"
      "social copyright"
    ;

    .c-logo {
      grid-area: logo;
    }

    &__address {
      grid-area: address;
      align-self: center;
      justify-self: end;
      padding-inline: 0;
    }

    &__link {
      grid-area: tel;
      justify-self: end;
    }

    nav {
      grid-area: nav-menu;
    }

    nav ul {
      justify-content: start;
    }

    &__copyright {
      grid-area: copyright;
      align-self: center;
      justify-self: end;
    }
  }
}

@include desktop-large {
  .c-footer {
    grid-template-columns: repeat(2, 1fr) 2fr;
    padding-inline: rem(165px);

    .c-logo {
      margin-top: rem(16px);
    }

    &__copyright {
      grid-column: 3/4;
      align-self: end;
    }

    &__link {
      justify-self: start;
    }

    .c-social-media {
      justify-content: end;
    }
  }
}