.c-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: rem(48px);
  text-align: center;

  &--home {
    background-color: var(--primary);
  }

  &--about {
    background-color: var(--primary);
  }

  .c-logo {
    width: rem(128px);
  }

  &__navigation {
    background-image: url('/src/images/bg-pattern-about-1-mobile-nav-1.svg');
    background-repeat: no-repeat;
    background-position: bottom right rem(-100px);
    background-color: var(--secondary);
    align-items: center;
    width: 68%;
    top: 0;
    height: 100vh;
    right: 0;
    position: fixed;
    z-index: 992;
    transform: translate3d(100vw, 0, 0);
    transition: .3s ease-in-out; 
    text-align: center;
    
    ul {
      @include flex-column-gap(rem(36px));
      margin-top: rem(164px);
    }
  }

  &__navigation.active {
    @include flex-column-gap;
    transform: translate3d(0, 0, 0);
    transform-origin: right;
    transition: .3s ease-out;
  }

  &__item a {
    text-decoration: none;
    font-size: rem(18px);
    color: var(--white);
    font-weight: $semi-bold;
  }

  &__item a {
    text-decoration: none;
    font-size: rem(18px);
    color: var(--white);
    font-weight: $semi-bold;
  }
}

@include tablet-up {
  .c-menu {
    gap: rem(48px);
    padding-top: rem(64px);

    &__navigation {
      background-color: transparent;
      position: static;
      transform: translate3d(0,0,0);
      height: auto;
      background-image: none;
      width: 100%;
    }
    
    &__navigation ul {
      flex-direction: row;
      margin-top: 0;
      align-items: center;
    }

    &__navigation li:last-child {
      margin-left: auto;
    }
  }
}