.c-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: rem(48px);
  text-align: center;

  &--home {
    background-color: var(--primary);
  }

  &--about {
    background-color: var(--primary);
  }

  .c-logo {
    width: rem(128px);
  }

  &__navigation {
    @include flex-column-gap;
    background-image: url('/src/images/bg-pattern-about-1-mobile-nav-1.svg');
    background-repeat: no-repeat;
    background-position: bottom right -100px;
    background-color: var(--secondary);
    align-items: center;
    width: 68%;
    top: 0;
    height: 100vh;
    right: 0;
    position: fixed;
    z-index: 992;
    // display: none;
    
    ul {
      @include flex-column-gap(rem(36px));
      margin-top: rem(164px);
    }
  }

  &__item a {
    text-decoration: none;
    font-size: rem(18px);
    color: var(--white);
    font-weight: $semi-bold;
  }

  &__item a {
    text-decoration: none;
    font-size: rem(18px);
    color: var(--white);
    font-weight: $semi-bold;
  }
}