@import url("https://fonts.googleapis.com/css2?family=Livvic:wght@400;600;700;900&display=swap");
:root {
  --primary: #014E56;
  --primary-light: #F67E7E;
  --secondary: #2C6269;
  --secondary-light: #79C8C7;
  --secondary-dark: #004047;
  --secondary-dark-2: #012F34;
  --secondary-dark-3: #002529;
  --white: #fff;
  --gray: #E1E1E1;
  --gray-100: #33323D;
}

/* Container width */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
}

ul {
  list-style: none;
}

body {
  font-family: "Livvic", sans-serif;
}

/* Fonts Weights */
.b-colors {
  padding-inline: 9.6em;
  padding-top: 62px;
}
.b-colors__title {
  color: var(--primary);
  font-size: 4em;
  line-height: 42px;
  margin-bottom: 2.625rem;
}
.b-colors__list {
  display: flex;
  flex-wrap: wrap;
  gap: 4.25rem;
  margin-bottom: 2.625rem;
}
.b-colors__list--primary .b-colors__item:nth-child(3) .b-colors__color {
  background-color: var(--primary-light);
}
.b-colors__list--primary .b-colors__item:nth-child(4) .b-colors__color {
  background-color: var(--white);
  border: solid 1px var(--gray);
}
.b-colors__list--secondary .b-colors__item:nth-child(2) .b-colors__color {
  background-color: var(--secondary-light);
}
.b-colors__list--secondary .b-colors__item:nth-child(3) .b-colors__color {
  background-color: var(--secondary);
}
.b-colors__list--secondary .b-colors__item:nth-child(4) .b-colors__color {
  background-color: var(--secondary-dark);
}
.b-colors__item {
  max-width: 9.0625rem;
}
.b-colors__item:first-child {
  color: var(--secondary);
  font-size: 0.8125rem;
  font-weight: 700;
  line-height: 1.125rem;
  letter-spacing: 0.3125rem;
  margin-right: auto;
}
.b-colors__color {
  height: 3.5rem;
  width: 3.5rem;
  background-color: var(--primary);
  border-radius: 50%;
  margin-bottom: 1.5em;
}
.b-colors__name {
  display: block;
  color: var(--secondary-dark-3);
  font-weight: 700;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  margin-bottom: 0.25rem;
}
.b-colors__text {
  font-size: 0.8125rem;
  color: var(--secondary-dark-3);
  font-weight: 400;
}
.b-colors hr {
  border: none;
  height: 1px;
  background-color: var(--gray);
}

.b-typography {
  padding-block: 3.5rem;
  padding-inline: 6rem;
}
.b-typography hr {
  border: none;
  height: 1px;
  background-color: var(--gray);
}
.b-typography__title {
  font-size: 2.5rem;
  font-weight: 2.625rem;
  font-weight: bold;
  margin-bottom: 3rem;
  color: var(--secondary-dark-2);
}
.b-typography__header {
  display: flex;
  margin-bottom: 2.5rem;
}
.b-typography__header span:first-of-type {
  height: 6.25rem;
  width: 6.25rem;
  display: inline-block;
  background-color: var(--secondary-dark-3);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  font-size: 2.5rem;
  color: var(--white);
  font-weight: bold;
  line-height: 2.625rem;
}
.b-typography__header span:last-of-type {
  width: 10.375rem;
  height: 6.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--gray);
  font-size: 0.8125rem;
  line-height: 1.125rem;
  color: var(--gray-100);
  font-weight: bold;
}
.b-typography__subtitle {
  font-weight: bold;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  letter-spacing: 0.3125rem;
  color: var(--secondary);
  text-transform: uppercase;
  margin-bottom: 2rem;
}
.b-typography__container {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 2.5rem;
}
.b-typography__headings {
  max-width: 24.75rem;
  width: 100%;
}
.b-typography__headings p:nth-child(2n) {
  font-size: 0.8125rem;
  color: var(--secondary-dark-3);
  margin-bottom: 1rem;
}
.b-typography__headings p:nth-child(2n+1) {
  color: var(--secondary-dark-3);
  font-weight: bold;
  margin-bottom: 2rem;
}
.b-typography__headings p:nth-child(3) {
  font-size: 6.25rem;
  line-height: 1;
}
.b-typography__headings p:nth-child(5) {
  font-size: 4rem;
  line-height: 1;
}
.b-typography__headings p:nth-child(7) {
  font-size: 3rem;
  line-height: 1;
}
.b-typography__headings p:nth-child(9) {
  font-size: 1.125rem;
  line-height: 28px;
}
.b-typography__body p:nth-child(2n) {
  font-size: 0.8125rem;
  color: var(--secondary-dark-3);
  margin-bottom: 1rem;
}
.b-typography__body p {
  font-weight: 600;
}
.b-typography__body p:nth-child(3) {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 2.6875rem;
}
.b-typography__body p:nth-child(5) {
  font-size: 0.9375rem;
  line-height: 1.5625rem;
}

.b-styleguide .container {
  max-width: 1200px;
  width: 100%;
  margin-inline: auto;
}
.b-styleguide__header {
  background: var(--primary) url("/src/images/bg-styleguide.svg");
  background-repeat: no-repeat;
  background-position: right;
  padding-inline: 9.6em;
  padding-block: 5.4em;
}
.b-styleguide__image {
  margin: 0.4em 0 0 0.2em;
}
.b-styleguide__title {
  font-size: 5em;
  color: var(--white);
  letter-spacing: -0.45px;
  font-weight: 700;
}

/*# sourceMappingURL=style.css.map */
