@import url("https://fonts.googleapis.com/css2?family=Livvic:wght@400;600;700;900&display=swap");
:root {
  --primary: #014E56;
  --primary-light: #F67E7E;
  --secondary: #2C6269;
  --secondary-light: #79C8C7;
  --secondary-dark: #004047;
  --secondary-dark-2: #012F34;
  --secondary-dark-3: #002529;
  --white: #fff;
  --gray: #E1E1E1;
  --gray-100: #33323D;
  --border-color: #C4FFFE;
}

/* Container width */
/* FONTS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
}

ul {
  list-style: none;
}

hr {
  border: none;
  height: 0.0625rem;
  background-color: var(--gray);
}

.container {
  padding-inline: 1.5rem;
}

body {
  font-family: "Livvic", sans-serif;
}

/* Fonts Weights */
/* Hxs Styles */
.c-title-2 {
  color: var(--white);
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 2.5rem;
  margin-bottom: 1.125rem;
  letter-spacing: 1.5px;
}
.c-title-2 span {
  color: var(--primary-light);
}

.c-title-3 {
  color: var(--white);
  font-weight: 700;
  font-size: 2rem;
  line-height: 2rem;
}
.c-title-3 span {
  color: var(--secondary-light);
}

.c-title-4 {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: var(--white);
  margin-bottom: 0.5rem;
}

/* Paragraph */
.c-text, .c-text-1 {
  font-size: 0.9375rem;
  color: var(--white);
  font-weight: 600;
  line-height: 1.75rem;
}

.c-text-1 {
  font-weight: 500;
  font-style: italic;
}

.b-colors {
  padding-inline: 9.6em;
  padding-top: 62px;
}
.b-colors__title {
  color: var(--primary);
  font-size: 4em;
  line-height: 42px;
  margin-bottom: 2.625rem;
}
.b-colors__list {
  display: flex;
  flex-wrap: wrap;
  gap: 4.25rem;
  margin-bottom: 2.625rem;
}
.b-colors__list--primary .b-colors__item:nth-child(3) .b-colors__color {
  background-color: var(--primary-light);
}
.b-colors__list--primary .b-colors__item:nth-child(4) .b-colors__color {
  background-color: var(--white);
  border: solid 1px var(--gray);
}
.b-colors__list--secondary .b-colors__item:nth-child(2) .b-colors__color {
  background-color: var(--secondary-light);
}
.b-colors__list--secondary .b-colors__item:nth-child(3) .b-colors__color {
  background-color: var(--secondary);
}
.b-colors__list--secondary .b-colors__item:nth-child(4) .b-colors__color {
  background-color: var(--secondary-dark);
}
.b-colors__item {
  max-width: 9.0625rem;
}
.b-colors__item:first-child {
  color: var(--secondary);
  font-size: 0.8125rem;
  font-weight: 700;
  line-height: 1.125rem;
  letter-spacing: 0.3125rem;
  margin-right: auto;
}
.b-colors__color {
  height: 3.5rem;
  width: 3.5rem;
  background-color: var(--primary);
  border-radius: 50%;
  margin-bottom: 1.5em;
}
.b-colors__name {
  display: block;
  color: var(--secondary-dark-3);
  font-weight: 700;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  margin-bottom: 0.25rem;
}
.b-colors__text {
  font-size: 0.8125rem;
  color: var(--secondary-dark-3);
  font-weight: 400;
}

.b-typography {
  padding-block: 3.5rem;
  padding-inline: 6rem;
}
.b-typography__title {
  font-size: 2.5rem;
  font-weight: 2.625rem;
  font-weight: bold;
  margin-bottom: 3rem;
  color: var(--secondary-dark-2);
}
.b-typography__header {
  display: flex;
  margin-bottom: 2.5rem;
}
.b-typography__header span:first-of-type {
  height: 6.25rem;
  width: 6.25rem;
  display: inline-block;
  background-color: var(--secondary-dark-3);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  font-size: 2.5rem;
  color: var(--white);
  font-weight: bold;
  line-height: 2.625rem;
}
.b-typography__header span:last-of-type {
  width: 10.375rem;
  height: 6.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--gray);
  font-size: 0.8125rem;
  line-height: 1.125rem;
  color: var(--gray-100);
  font-weight: bold;
}
.b-typography__subtitle {
  font-weight: bold;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  letter-spacing: 0.3125rem;
  color: var(--secondary);
  text-transform: uppercase;
  margin-bottom: 2rem;
}
.b-typography__container {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 2.5rem;
}
.b-typography__headings {
  max-width: 24.75rem;
  width: 100%;
}
.b-typography__headings p:nth-child(2n) {
  font-size: 0.8125rem;
  color: var(--secondary-dark-3);
  margin-bottom: 1rem;
}
.b-typography__headings p:nth-child(2n+1) {
  color: var(--secondary-dark-3);
  font-weight: bold;
  margin-bottom: 2rem;
}
.b-typography__headings p:nth-child(3) {
  font-size: 6.25rem;
  line-height: 1;
}
.b-typography__headings p:nth-child(5) {
  font-size: 4rem;
  line-height: 1;
}
.b-typography__headings p:nth-child(7) {
  font-size: 3rem;
  line-height: 1;
}
.b-typography__headings p:nth-child(9) {
  font-size: 1.125rem;
  line-height: 28px;
}
.b-typography__body p:nth-child(2n) {
  font-size: 0.8125rem;
  color: var(--secondary-dark-3);
  margin-bottom: 1rem;
}
.b-typography__body p {
  font-weight: 600;
}
.b-typography__body p:nth-child(3) {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 2.6875rem;
}
.b-typography__body p:nth-child(5) {
  font-size: 0.9375rem;
  line-height: 1.5625rem;
}

.b-buttons {
  padding-inline: 6rem;
  padding-bottom: 3.5rem;
}
.b-buttons__title {
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 2.625rem;
  color: var(--secondary-dark-2);
  margin-bottom: 3rem;
}
.b-buttons__subtitle {
  font-weight: bold;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  letter-spacing: 0.3125rem;
  color: var(--secondary);
  text-transform: uppercase;
  margin-bottom: 0.5625rem;
}
.b-buttons__primary, .b-buttons__secondary {
  display: flex;
  margin-bottom: 1.5rem;
}
.b-buttons__primary .b-buttons__list:nth-child(2n+1), .b-buttons__secondary .b-buttons__list:nth-child(2n+1) {
  display: flex;
  flex-direction: column;
  gap: 2.875rem;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
  color: var(--secondary-dark-3);
  padding-block: 2.375rem;
  margin-right: 5.4375rem;
}
.b-buttons__primary .b-buttons__list:nth-child(4) {
  display: flex;
  flex-direction: column;
  gap: 0.9375rem;
  padding-block: 2.0625rem;
  margin-left: 0.9375rem;
}
.b-buttons__primary .b-buttons__list:nth-child(2), .b-buttons__secondary .b-buttons__list:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 0.9375rem;
  background-color: var(--secondary-dark-2);
  border-radius: 0.625rem;
  padding: 1.5rem;
  margin-right: 2.5rem;
}
.b-buttons__primary .b-buttons__list:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 0.9375rem;
  background-color: var(--secondary-dark-2);
  border-radius: 0.625rem;
  padding: 1.5rem;
  margin-right: 2.5rem;
}

.b-inputs {
  padding-inline: 6rem;
  margin-bottom: 7.375rem;
}
.b-inputs__title {
  font-size: 2.5rem;
  font-weight: 2.625rem;
  font-weight: bold;
  margin-bottom: 3rem;
  color: var(--gray-100);
}
.b-inputs__subtitle {
  font-weight: bold;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  letter-spacing: 0.3125rem;
  color: var(--secondary);
  text-transform: uppercase;
  margin-bottom: 2rem;
}
.b-inputs__container {
  display: flex;
  gap: 2.75rem;
}
.b-inputs__text-area .b-inputs__list:first-of-type, .b-inputs__text-field .b-inputs__list:first-of-type {
  display: flex;
  flex-direction: column;
  gap: 7.46875rem;
  display: flex;
  flex-direction: column;
  gap: 2.875rem;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
  color: var(--secondary-dark-3);
  padding-block: 2.375rem;
  margin-right: 5.4375rem;
}
.b-inputs__text-area .b-inputs__list:last-of-type, .b-inputs__text-field .b-inputs__list:last-of-type {
  display: flex;
  flex-direction: column;
  gap: 0.9375rem;
  background-color: var(--secondary-dark-2);
  border-radius: 0.625rem;
  padding: 1.5rem;
  margin-right: 2.5rem;
  width: 18.5rem;
}

.b-hero {
  background-color: var(--primary);
  min-height: 30.4375rem;
  padding-top: 5rem;
  text-align: center;
  background-image: url("/src/images/bg-hero.svg");
  background-repeat: no-repeat;
  background-position: bottom center;
  position: relative;
}
.b-hero::before {
  content: "";
  background-image: url("/src/images/bg-retangle-detail.svg");
  display: block;
  position: absolute;
  width: 6.25rem;
  height: 2.75rem;
  left: 0.5625rem;
  bottom: 3.5rem;
}

.b-team {
  background-color: var(--secondary-dark-2);
  padding-block: 4rem;
  background-image: url("/src/images/bg-pattern-home-3.svg");
  background-repeat: no-repeat;
  background-size: 12.5rem;
  background-position: top right -6.25rem;
}
.b-team__title {
  max-width: 15rem;
  padding: 2rem 0 3.5rem 0;
  position: relative;
}
.b-team__title::before {
  background-color: var(--primary-light);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 3.125rem;
  height: 0.25rem;
}
.b-team__cards {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.b-stories {
  background-color: var(--secondary-dark);
  text-align: center;
  padding: 8.75rem 0 10.25rem 0;
  background-image: url("/src/images/bg-pattern-home-5.svg");
  background-repeat: no-repeat;
  background-position: bottom right;
  position: relative;
}
.b-stories::before {
  content: "";
  background-image: url("/src/images/bg-retangle-detail.svg");
  display: block;
  position: absolute;
  width: 6.25rem;
  height: 2.75rem;
  left: 2.9375rem;
  top: 3.5rem;
  z-index: 2;
}
.b-stories::after {
  height: 6.25rem;
  width: 6.25rem;
  display: block;
  content: "";
  background-color: var(--secondary-dark-3);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.b-stories__title {
  margin-bottom: 3rem;
}
.b-stories__cards {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.b-employees {
  background-color: var(--secondary-dark);
  padding-top: 5.5rem;
  padding-bottom: 7.25rem;
  text-align: center;
  background-image: url("/src/images/bg-pattern-about-2-contact-1.svg");
  background-position: top -100px left -100px;
  background-repeat: no-repeat;
  position: relative;
}
.b-employees::before {
  content: "";
  background-image: url("/src/images/bg-retangle-detail.svg");
  display: block;
  position: absolute;
  width: 6.25rem;
  height: 2.75rem;
  bottom: 0;
  right: 0;
  z-index: 2;
}
.b-employees::after {
  height: 6.25rem;
  width: 6.25rem;
  display: block;
  content: "";
  background-color: var(--secondary-dark-3);
  position: absolute;
  bottom: 0;
  right: 2.9375rem;
  z-index: 1;
}
.b-employees__title {
  margin-bottom: 3rem;
}
.b-employees__cards {
  display: flex;
  flex-direction: column;
  gap: 3.25rem;
}

.b-contact {
  background-color: var(--primary);
  padding-top: 5rem;
  padding-bottom: 5.5rem;
  text-align: center;
  background-image: url("/src/images/bg-pattern-contact-2.svg");
  background-repeat: no-repeat;
  background-position: bottom -6.875rem right -6.25rem;
}
.b-contact__subtitle {
  color: var(--primary-light);
  margin-bottom: 2.5rem;
}
.b-contact__cards {
  padding-bottom: 3.5rem;
}

.b-styleguide .container {
  max-width: 1200px;
  width: 100%;
  margin-inline: auto;
}
.b-styleguide__header {
  background: var(--primary) url("/src/images/bg-styleguide.svg");
  background-repeat: no-repeat;
  background-position: right;
  padding-inline: 9.6em;
  padding-block: 5.4em;
}
.b-styleguide__image {
  margin: 0.4em 0 0 0.2em;
}
.b-styleguide__title {
  font-size: 5em;
  color: var(--white);
  letter-spacing: -0.45px;
  font-weight: 700;
}

.b-about {
  background-color: var(--primary);
  background-image: url("/src/images/bg-pattern-about-1-mobile-nav-1.svg");
  background-repeat: no-repeat;
  background-position: bottom -100px right -100px;
  padding: 5rem 0 6.75rem 0;
  text-align: center;
}

.c-btn {
  background-color: transparent;
  width: 9.5625rem;
  height: 3rem;
  border-radius: 6.25rem;
  border: solid 2px var(--secondary-dark-2);
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: var(--secondary-dark-2);
  text-decoration: none;
  font-weight: 600;
}
.c-btn-primary-o {
  color: var(--white);
  border-color: var(--white);
  transition: all 2s;
}
.c-btn-primary-o:hover {
  background-color: var(--white);
  color: var(--secondary-dark-3);
}
.c-btn-primary-o--dark {
  color: var(--secondary-dark-3);
  transition: all 2s;
}
.c-btn-primary-o--dark:hover {
  background-color: var(--secondary-dark-2);
  color: var(--white);
}
.c-btn-secondary {
  background-color: var(--white);
  color: var(--secondary-dark-3);
  border-color: var(--white);
  transition: all 2s;
}
.c-btn-secondary:hover {
  background-color: var(--secondary-light);
  color: var(--secondary-dark-3);
  border-color: var(--secondary-light);
}
.c-btn--hamburger {
  background-color: transparent;
  outline: none;
  border: none;
  width: 1.25rem;
  height: 1.0625rem;
  display: flex;
  gap: 0.25rem;
  flex-direction: column;
}
.c-btn--hamburger__line {
  background-color: var(--white);
  height: 0.1875rem;
  display: block;
  width: 100%;
}
.c-btn--add, .c-btn--close {
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  border: none;
  text-align: center;
  font-size: 1.75rem;
  font-weight: 900;
  color: var(--secondary-dark-2);
}
.c-btn--add {
  background-color: var(--primary-light);
}
.c-btn--close {
  background-color: var(--secondary-light);
}
.c-btn--close span {
  display: inline-block;
  transform: rotate(227deg);
}

.c-input {
  outline: none;
  background-color: transparent;
  border: none;
  border-bottom: solid 1px var(--white);
  height: 2.6875rem;
  padding-inline: 0.875rem;
  width: 100%;
  color: var(--white);
  font-size: 0.9375rem;
  line-height: 1.5625rem;
  font-weight: 600;
  margin-bottom: 24px;
}
.c-input--field {
  padding-bottom: 1.0625rem;
}
.c-input::placeholder {
  opacity: 0.6;
}
.c-input--text-area {
  height: 6.6875rem;
}
.c-input:active, .c-input:focus {
  border-color: var(--secondary-light);
  opacity: 1;
  color: var(--white);
  font-size: 0.9375rem;
  line-height: 1.5625rem;
  font-weight: 600;
}

.c-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-top: 3rem;
}
.c-menu--home {
  background-color: var(--primary);
}
.c-menu--about {
  background-color: var(--primary);
}
.c-menu .c-logo {
  width: 8rem;
}
.c-menu__navigation {
  display: none;
  position: absolute;
}

/* TEAM CARD */
.c-team__card {
  text-align: center;
}
.c-team__card-image {
  display: block;
  height: 4.5rem;
  width: 4.5rem;
  margin-inline: auto;
  margin-bottom: 1rem;
}
.c-team__card-image img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}
.c-team__card-title {
  color: var(--primary-light);
}

/* STORIES CARD*/
.c-stories__card {
  padding-top: 2.375rem;
  position: relative;
  background-image: url("/src/images/icon-quotes.svg");
  background-repeat: no-repeat;
  background-position: top center;
}
.c-stories__card-title {
  color: var(--secondary-light);
  margin-bottom: 0;
}
.c-stories__card-image {
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  border: solid 2px var(--border-color);
  height: 3.875rem;
  width: 3.875rem;
}
.c-stories__card-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.c-stories__card-text {
  margin-bottom: 1rem;
}

/* CARD EMPLOYEES*/
.c-employees__card {
  background-color: var(--secondary-dark-2);
  padding: 2rem 2.90625rem 1.375rem 2.90625rem;
}
.c-employees__card-image {
  height: 6rem;
  width: 6rem;
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  border: solid 2px var(--border-color);
  margin-inline: auto;
  margin-bottom: 1rem;
}
.c-employees__card-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.c-employees__card-title {
  color: var(--secondary-light);
  margin-bottom: 0;
}
.c-employees__card .c-social-media {
  padding-block: 0;
  margin-top: 1.5rem;
}
.c-employees__card .c-social-media__item {
  height: 1.25rem;
  width: 1.25rem;
}
.c-employees__card-button {
  transform: translateY(50px);
}

/* CARD CONTACT ABOUT US*/
.c-contact__card {
  display: flex;
  text-align: left;
  gap: 1.4375rem;
  align-items: center;
}
.c-contact__card:not(:last-child) {
  margin-bottom: 1rem;
}

.c-cta {
  text-align: center;
  background-color: var(--primary-light);
  padding-block: 5.1875rem;
  background-image: url("/src/images/bg-pattern-home-6-about-5.svg");
  background-repeat: no-repeat;
  background-position: left bottom -22px;
}
.c-cta__title {
  color: var(--secondary-dark-2);
  margin-bottom: 1.5rem;
}
.c-cta__button {
  margin-inline: auto;
}

.c-footer {
  text-align: center;
  padding-block: 4.0625rem;
  background-color: var(--secondary-dark-3);
}
.c-footer .c-logo {
  width: 6rem;
  height: 1.5rem;
  margin-bottom: 1.5rem;
}
.c-footer__menu {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}
.c-footer__menu-link {
  text-decoration: none;
}
.c-footer__menu-link:hover {
  color: var(--secondary-light);
}
.c-footer__address {
  padding-inline: 6.25rem;
}
.c-footer__link {
  display: inline-block;
  text-decoration: none;
  opacity: 0.6;
}
.c-footer__copyright {
  opacity: 0.6;
}

.c-social-media {
  display: flex;
  justify-content: center;
  padding: 2.5rem 0 1rem 0;
  gap: 1rem;
}

/*# sourceMappingURL=style.css.map */
