@mixin squares($size) {
  height: $size;
  width: $size;
}

@mixin centralized {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-column-gap($gap: 5px) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

@mixin bg-retangle-detail {
  content: "";
    background-image: url('/src/images/bg-retangle-detail.svg');
    display: block;
    position: absolute;
    width: rem(100px);
    height: 44px;
    bottom: 56px;
    left: rem(9px);
}