:root {
  --primary: #014E56;
  --primary-light: #F67E7E;
  --secondary: #2C6269;
  --secondary-light:  #79C8C7;
  --secondary-dark: #004047;
  --tertiary: #012F34;
  --tertiary-dark:  #002529;
  --white: #fff;
}

/* Container width */

$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
