:root {
  --primary: #014E56;
  --primary-light: #F67E7E;
  --secondary: #2C6269;
  --secondary-light:  #79C8C7;
  --secondary-dark: #004047;
  --secondary-dark-2: #012F34;
  --secondary-dark-3:  #002529;
  --white: #fff;
  --gray: #E1E1E1;
  --gray-100: #33323D;
  --border-color: #C4FFFE;
}

/* Container width */
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

/* FONTS */
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 900;
