* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%; // 10px = 1em recurso usado no styleguide
  position: relative;
}

ul {
  list-style: none;
}

hr {
  border: none;
  height: rem(1px);
  background-color: var(--gray);
}

.container {
  padding-inline: rem(24px);
}

@include tablet-up {
  .container {
    padding-inline: rem(39.5px);
  }
}