@import url('https://fonts.googleapis.com/css2?family=Livvic:wght@400;600;700;900&display=swap');

body {
  font-family: 'Livvic', sans-serif;
}

/* Fonts Weights */
$light: 300;
$regular: 400;
$semi-bold: 600;
$bold: 700;
$black: 900;